.stories {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 60px;

  @include for-big-screen {
    margin-top: 120px;
  }

  &_story-cards {
    @include for-big-screen {
      display: flex;
    }

    .stories_story-card {
      width: 520px;

      @include for-big-screen {
        width: 480px;

        &:first-child {
          margin-right: 150px;
        }
      }

      &_title {
        display: flex;
        align-items: center;
        margin-top: 38px;

        @include for-big-screen {
          margin-top: 48px;
        }

        &_text {
          margin: 0;
          margin-left: 20px;
          font-weight: 600;
          font-size: 20px;
          line-height: 40px;
          color: #111111;
        }
      }

      .second_title {
        margin-top: 40px;

        @include for-big-screen {
          margin-top: 48px;
        }
      }

      &_story {
        font-size: 16px;
        line-height: 30px;
        color: #000;
        margin: 20px 0 0 60px;
      }

      .second-paragraph {
        margin-top: 25px;
      }

      &_link {
        margin-left: 60px;
        margin-top: 25px;

        &_description {
          font-size: 16px;
          line-height: 30px;
          color: #000;

          &_text {
            color: #000;
          }
        }
      }
    }
  }
}

.stories_underline {
  margin-bottom: 0;
}
